<!DOCTYPE html>
<html ng-app="patient">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search Patient</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="MainController">
<div class="container">
<center class="fullWidth">
<br/>
	<div id="selectPatientHeader" class="row">
		<div class="selectP">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		Select Patient</div>
	</div>
	<br/>
	<div class="box row">
		<form class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="exampleInputAmount">Patient search</label>
		    <div class="input-group">
		    	<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
		      	<input type="text" class="form-control" id="exampleInputAmount" ng-model="names" placeholder="Search Patient">
		    </div>
		    <span class="btn btn-default" ng-click="searchPatient(names)">Search</span>
		</div>
		</form>
		<br/>
		<div id ="resultsId" class="result">
			<table class="">
				<thead>
				<tr>
				    <th class="checkColumnHeader"> </th>
					<th class="genderColumnHeader">Gender</th>
					<th class="nameColumnHeader">Name</th>
					<th class="familyColumnHeader">Family Name</th>
					<th class="bornColumnHeader">Born</th>
					</tr>
				</thead>
				<tbody class="fullwidth">
					<tr>
					    <td class="checkColumn"><input type="checkbox"></td>
						<td class="genderColumn male">{{patient.gender}}</td>
						<td class="nameColumn">{{patient.name}}</td>
						<td class="familyColumn">{{patient.family}}</td>
						<td class="bornColumn">{{patient.born | date}}</td>
					</tr>
				</tbody>
			</table>
		
		<br/><!-- <span class="resultInfo">showing 0 patients of 260</span> -->
		<br/><br/>
		<div id="paginationPanel">
		<span class="prevNnext btn btn-default">Prev</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="pagesLabel">Pages: &nbsp;</span>
		<span class="pageNumber currentPage"> 1&nbsp;&nbsp;</span>
		<span class="pageNumber"> 2&nbsp;&nbsp;</span>
		<span class="pageNumber"> 3&nbsp;&nbsp;</span>
		<span> ...</span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="prevNnext btn btn-primary">Next</span>
	</div><br/>
	</div>
	</center>
</div>
<div id="site-bottom">

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
	var app = angular.module('patient', []);

	

	app.controller('MainController', ['$scope', '$http', function($scope, $http) {
		$scope.patient = {
			gender: "M",
			name: "james",
			family: "peterson",
			born: 1991
		};

		$scope.searchPatient = function(str) {
			var tmp = str.split(" ");

			var given = tmp[0];
			var family = tmp[1];

			var queryString = " https://open-ic.epic.com/FHIR/api/FHIR/DSTU2/Patient?" + "given=" + given + "&family=" + family;

			console.log(queryString); 
		};
	}]);

</script>
</body>
</html>