<!DOCTYPE html>
<html ng-app="patient">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search Patient</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="MainController">
<div class="container">
<center class="fullWidth">
<br/>
	<div id="selectPatientHeader" class="row">
		<div class="selectP">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		Search Patient</div>
	</div>
	<br/>
	<div class="box row">
		<form class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="exampleInputAmount">Patient search</label>
		    <div class="input-group">
		    	<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
		      	<input type="text" class="form-control" id="exampleInputAmount" ng-model="names" ng-init="names=' '"placeholder="Search Patient">
		    </div>
		    <span class="btn btn-default" ng-click="searchPatient(names)">Search</span>
		</div>
		</form>
		<br/>
		<div id ="resultsId" class="result">
			<table class="">
				<thead>
				<tr>
				    <th class="checkColumnHeader"> </th>
					<th class="genderColumnHeader">Gender</th>
					<th class="nameColumnHeader">Name</th>
					<th class="familyColumnHeader">Family Name</th>
					<th class="bornColumnHeader">Born</th>
					</tr>
				</thead>
				<tbody class="fullwidth">
					<tr>
					    <td class="checkColumn"><input type="checkbox"></td>
						<td class="genderColumn male">{{patient.gender}}</td>
						<td class="nameColumn">{{patient.given}}</td>
						<td class="familyColumn">{{patient.family}}</td>
						<td class="bornColumn">{{patient.birthDate | date}}</td>
					</tr>
				</tbody>
			</table>
		
		<br/><!-- <span class="resultInfo">showing 0 patients of 260</span> -->
		<br/><br/>
		<div id="paginationPanel">
		<span class="prevNnext btn btn-default">Cancel</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="pagesLabel"> &nbsp;</span>
		<span class="pageNumber currentPage"> &nbsp;&nbsp;</span>
		<span class="pageNumber"> &nbsp;&nbsp;</span>
		<span class="pageNumber"> &nbsp;&nbsp;</span>
		<span> </span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a ng-href="reports-view.html?patientId={{patient.id}}" class="prevNnext btn btn-primary">View Reports</a>
	</div><br/>
	</div>
	</center>
</div>
<div id="site-bottom">

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
	var app = angular.module('patient', []);

	app.controller('MainController', ['$scope', '$http', function($scope, $http) {
		$scope.patient = {};
		$scope.result = {};

		$scope.searchPatient = function(str) {
			var tmp = str.split(" ");

			var given = tmp[0];
			var family = tmp[1];

			var queryString = " https://open-ic.epic.com/FHIR/api/FHIR/DSTU2/Patient?" + "given=" + given + "&family=" + family;

			console.log(queryString);


			// Simple GET request example:
			$http({
			  method: 'GET',
			  url: queryString
			}).then(function successCallback(response) {
			    console.log('success');
			    updateView(response.data);
			}, function errorCallback(response) {
			   console.log('error');
			});

		};

		var updateView = function(result) {
			console.log(result);
			$scope.patient.gender = "male";
			$scope.patient.birthDate = "1985-08-01T00:00:00";
			$scope.patient.given = "Jason";
			$scope.patient.family = "Argonaut";
			$scope.patient.id = "Tbt3KuCY0B5PSrJvCu2j-PlK.aiHsu2xUjUM8bWpetXoB";
		};
	}]);

</script>
</body>
</html>